<p id="notice"><%= notice %></p>

<section class="banner">
<div class="verse" style="margin-bottom:20px; padding:20px">"<strong style="color:white">Every day</strong> I will bless You, and I will praise Your name forever and ever." ~<em>Psalm 145:2</em></div>
<hr>
<h1>Vendors:</h1>
</section>
<section class="content">
<h4 style="color:green;">Create a vendor to see your name on here <em>too!</em></h4>
<p style="margin-bottom:30px">Click to see some very cool vendors below.</p>

<table>
  <thead>
    <tr>
      <th>Name</th> 
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Website</th>
      <th>Description</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.name %></td>
        <td><%= vendor.email %></td>
        <td><%= vendor.phone %></td>
        <td><%= vendor.address %></td>
        <td><%= vendor.website %></td>
        <td><%= vendor.description %></td>
        <td><%= vendor.content %></td>
        <td><%= link_to 'Show', vendor %></td>
        <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
        <td><%= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</section>

<br>

<%= link_to 'New Vendor', new_vendor_path %>
