<!DOCTYPE html>
<html>
  <head>
    <title>Vendors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Lobster+Two|Raleway|Sacramento&display=swap" rel="stylesheet">

  <body>
    <%= render 'login' %>
    <%= render 'notice' %>
    <%= yield %>
  </body>

</html>
