<!DOCTYPE html>
<html>
  <head>
    <title>Vendors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Lobster+Two|Raleway|Sacramento&display=swap" rel="stylesheet">
  <script>
    alert('Hello. Welcome to my webpage :)');
  </script>

<style>
section.content {
}
section.banner {
  text-align: center;
  padding: 10px 10px 20px 20px;
  background-image: url(https://inhabitat.com/wp-content/blogs.dir/1/files/2016/07/California-Redwood-Trees-889x592.jpg);
  background-size:cover;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #ddeedd;
}
.verse {
  font-size: 15px;
  background-color: green;
  color: white;
}
h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 50px;
  text-shadow: 1px 2px 5px teal;
  color: white;
}
</style>

  <body>
    <%= yield %>
  </body>

</html>
